.relleno{
  width: 100%;
  background-color: transparent;
  height: 96px;
}

ul, li{
  margin: 0;
  padding: 0;
  list-style: none;
}
a{
  text-decoration: none;
}
.navegacion-movil{
  position: fixed;
  width: 100%;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-sizing: border-box;
  left: 0;
  right: 0;
  background-color: #fff;
  margin: auto;
}
.navegacion-movil .redes a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navegacion-movil .redes{
  width: 100%;
  background-color: #000;
  box-sizing: border-box;
  padding: 15px 10px;
  border-radius: 0px 0px 10px 10px;
}
.navegacion-movil .redes a{
  color: #fff;
}

.navegacion-movil .redes{
  display: flex;
  gap: 10px;
  align-items: center;
}
.navegacion-movil .correo-accion-popular{
  margin-left: auto;
}
.navegacion-movil .correo-accion-popular a{
  display: flex;
  gap: 8px;
  font-weight: 700;
}

.navegacion-movil .redes li a img{
  width: 15px;
}
.navegacion-movil .redes .correo-accion-popular {
  font-size: 10px;
}

.navegacion-movil-responsivo{
  display: flex;
  width: 95%;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}
.navegacion-movil-responsivo .unete a {
  display: flex;
  padding: 8px 16px;
  color: #fff;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: #E31F27;
}
.navegacion-movil-responsivo button {
  border: 0;
  background-color:transparent;
}

.sitemap-movil{
  position: absolute;
  display: flex;
  width: 300px;
  background-color: #fff;
  flex-direction: column;
  height: 100vh;
  box-sizing: border-box;
  gap: 20px;
  padding: 18px;
  overflow: auto;
}
.sitemap-movil .logo-accion-popular {
  width: 100%;
  box-sizing: border-box;
}
.sitemap-movil .icon-close{
  display: flex;
  margin-left: auto;
}
.sitemap-movil .icon-close button{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: transparent;
  border: 0;
}

.sitemap-movil .icon-close button img{
  width: 45px;
}
.sitemap-movil li a{
  font-weight: 600;
  color: #000;
}

.unete-nosotros{
  background-color: #E31F27;
  border-radius: 10px;
}
.sitemap-movil .unete-nosotros a{
  color: #fff;
  display: flex;
  height: 40px;
  align-items: center;
  padding-left: 20px;
}
.no-habilitado{
}
/*Animacion de despliegue*/

.liderazgo-desplegable span{
  color: #E31F27;
}

.liderazgo-desplegable {
  font-size: 14px;
}
.liderazgo-desplegable li{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.liderazgo-item{
  margin: 15px 0;
}
.sub-url{
  display: flex;
  gap: 5px;
}
.liderazgo-btn{
  background-color: transparent;
  border: 0;
  font-weight: 600;
  padding: 0;
}
.no-habilitado, .no-habilitado span{
  color: gray !important;
}

.organos-partidarios-desplegable span {
  color: #E31F27;
}

.organos-partidarios-desplegable {
  font-size: 14px;
}

.organos-partidarios-desplegable li {
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.organos-partidarios-btn {
  background-color: transparent;
  border: 0;
  font-weight: 600;
  padding: 0;
}
.navegacion-movil .sitemap-movil .active {
  color: #E31F27; 
}