swiper-container{
  width: 100%;
}

.banner-encap-peruano{
  width: 100%;
}

swiper-container::part(wrapper) {
  -webkit-transition-timing-function:linear; 
  -o-transition-timing-function:linear;
  transition-timing-function:linear; 
}
.encap-responsivo{
  display: none;
  width: 100%;
}
@media (width < 900px) {
  .banner-encap-peruano{
    display: none;
  }
  .encap-responsivo{
    display: block;
  }
}