h1{
  text-align: center;
  color: #DE1A22;

font-family: Montserrat;
font-size: 47.78px;
font-style: normal;
font-weight: 900;
line-height: normal;
}
main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 726px;
  margin: auto;
}
header{
  margin-bottom: 80px;
}
.titulo{
  color: var(--Primary-600, #BF161C);

/* H6/SemiBold */
font-family: Montserrat;
font-size: 19.2px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-align: start;
width: 100%;
}
iframe {
  display: flex;
  width: 100%;
  height: 500px;
}
.descripcion{
  text-align: justify;
}
@media (width < 900px) {
  h1{
    margin: 0;
  }
  header{
    box-sizing: border-box;
    padding: 25px;
  }
  iframe{
    height: 300px;
  }
}