header{
  display: flex;
  flex-direction: column;
}
.banner{
  width: 100%;
  margin: auto;
  margin-top: 40px;
}

header{
  width: 90%;
  margin: auto;
}
main{
  margin-bottom: 80px;
}
p {
  color: #000;
text-align: justify;

/* Paragraph 01 S/SemiBold */
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: bold;
line-height: normal;
}
h1{
  color:  #E31F27;
text-align: center;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
font-family: Montserrat;
font-size: 39.81px;
font-style: normal;
font-weight: 900;
line-height: normal;
margin: 40px 20px;
}

swiper-slide img{
  display: flex;
  margin: auto;
}
swiper-slide h2{
  color: var(--Primary-400, #E94047);
text-align: center;
font-family: Montserrat;
font-size: 19.2px;
font-style: normal;
font-weight: 900;
line-height: normal;
}
swiper-slide{
  display: flex;
  flex-direction: column;
  gap: 0px;
  height: auto;
}
swiper-slide h2 {
  white-space: wrap;
}
@media (width < 1630px) {
  h2{
    min-height: 38px;
  }
}
@media (width < 1100px) {
  swiper-slide h2 {
    white-space: wrap;
  }
  swiper-container {
    max-width: 400px;
  }
}