

.lista{display: flex;}

app-navegacion ul{
  border: 1px solid red;
}
.icon-portada{
  width: 200px;
  height: auto;
}
.icon-a{
  display: flex;
  width: 200px;
  margin-right: 15px;
  height: 100%;
}

h1{
  color: #DE1A22;
  padding-top: 30px;
}
.no-habilitado{
  background-color: gray !important;
}

header{
  width: 100%;
  height: auto;
}

main{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 80px;
  flex-direction: column;
}

h1{
font-family: Montserrat;
font-size: 47.78px;
text-align: center;
font-weight: 900;
}

article{
  display: flex;
  margin: 0 80px;
  gap: 50px;
}
ul{
  font-weight: 400;
  text-align: justify;
}
article .contenido{
  max-width: 600px;
}
.contenido p {
  text-align: justify;
}
.capacitacion{
  object-fit: contain;
  object-position: center;
}
.buttons{
  display: flex;
  gap: 48px;
}
.buttons a {
  text-decoration: none;
  background: #E31F27;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  margin: 50px 0;
}
@media (width < 900px) {
  .buttons a {
    margin: 0;
    width: auto;
    text-align: center;
  }
  .buttons{
    width: auto;
    text-align: center;
  }
  main{
    margin: 30px;
  }
  article{
    flex-direction: column;
    margin: 0;
  }
  .buttons{
    flex-direction: column;
  }
  h1{
    font-size: 40px;
  }
  .capacitacion {
    width: 95%;
  }
}