/* Escritorio */
.navegacion-escritorio {
  display: flex;
}

/* Móvil */
.navegacion-celular {
  display: none;
}

/* Media Query para móviles */
@media (max-width: 1300px) {
  .navegacion-escritorio {
    display: none;
  }
  .navegacion-celular {
    display: flex;
  }
}
