footer{
  display: flex;
  background-color: #000;
  color: #fff;
  padding: 40px 20px;
}
ul,li {
  list-style: none;
  margin: 0;
  padding: 0;
}


main{
  display: flex;
  width: 80%;
  justify-content: space-around;
}
.logo-black {
  width: 20%;
  margin-left: 50px;
}
a {
  text-decoration: none;
  color: #fff;
}

.mapa-web ul li a {
  display: flex;
  margin: 20px 0;
}
.enlaces-importantes ul li a{
  display: flex;
  margin: 20px 0;
}
.redes-sociales{
  width: 300px;
}
.titulo{
  font-size: 20px;
  font-weight: bold;
}
.redes-sociales .titulo{
  text-align: center;
}
.imagenes-redes{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.imagenes-redes a img{
  width: 50px;
  height: 50px;
}

@media (width<1100px) {
  .logo-black{
    display: none;
  }
  main{
    width: 100%;
  }
}
@media (width < 800px){
  main{
    flex-direction: column;
  }
  .redes-sociales{
    width: 100%;
  }
  .redes-sociales .imagenes-redes a,.mapa-web ul li a,.enlaces-importantes a{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .imagenes-redes a img {
    width: 30px;
    height: 30px;
  }
  .titulo{
    text-align: center;
  }
}